/* Styles go here */
div.List
{
    background-color: green;
    padding: 10px;
    color: black;
    font-family: verdana;
    font-size: 12px;
}

div.Cart
{
    background-color: yellow;
    padding: 10px;
    color: black;
    font-family: verdana;
    font-size: 12px;
}

div.UI
{
    text-align:center;
    background-color: Navy;
    padding: 30px;
    color: White;
    font-family: verdana;
    font-size: 12px;
}

td.item
{
  max-width: 150px;
}


td.submit
{
  text-align: center;
}